In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
df = pd.read_csv('../data/Cleaned Coffee Shop Sales.csv')

In [3]:
df.head()

,index,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,...,isWeekend,day,month,year,hour,minutes,seconds,latitude,longitude,total_amount
0,0,0,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,...,True,1,1,2023,7,6,11,40.7128,-74.006,6.0
1,1,1,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,...,True,1,1,2023,7,8,56,40.7128,-74.006,6.2
2,2,2,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,...,True,1,1,2023,7,14,4,40.7128,-74.006,9.0
3,3,3,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,...,True,1,1,2023,7,20,24,40.7128,-74.006,2.0
4,4,4,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,...,True,1,1,2023,7,22,41,40.7128,-74.006,6.2

# Clustering

* Right now we count how many times a product exists in a transaction.
* We only want to have 0 or 1 as values.
* 0 means that the product does not exist in the transaction.
* 1 means that the product exists in the transaction.

In [4]:
transaction_products_type = pd.crosstab(df['transaction_id'], df['product_type'])
transaction_products_type.head()

product_type,Barista Espresso,Biscotti,Black tea,Brewed Black tea,Brewed Chai tea,Brewed Green tea,Brewed herbal tea,Chai tea,Clothing,Drinking Chocolate,...,Housewares,Organic Beans,Organic Chocolate,Organic brewed coffee,Pastry,Premium Beans,Premium brewed coffee,Regular syrup,Scone,Sugar free syrup
transaction_id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
transaction_products_type_binary = transaction_products_type.clip(upper=1)

print(transaction_products_type_binary.values.ravel().max())
print(transaction_products_type_binary.values.ravel().min())

1
0

In [6]:
kmeans = KMeans(n_clusters=5, random_state=123)
clusters = kmeans.fit_predict(transaction_products_type_binary)

transaction_products_type_binary['cluster'] = clusters

In [7]:
cluster_analysis_product_type = transaction_products_type_binary.groupby('cluster').mean()
cluster_analysis_product_type

product_type,Barista Espresso,Biscotti,Black tea,Brewed Black tea,Brewed Chai tea,Brewed Green tea,Brewed herbal tea,Chai tea,Clothing,Drinking Chocolate,...,Housewares,Organic Beans,Organic Chocolate,Organic brewed coffee,Pastry,Premium Beans,Premium brewed coffee,Regular syrup,Scone,Sugar free syrup
cluster,,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.050383,0.002702,0.194150,0.000000,0.097238,0.192498,0.003992,0.001738,0.001893,...,0.004938,0.003751,0.001944,0.145780,0.066041,0.002925,0.138949,0.000379,0.084815,0.000189
1,0.000947,0.048019,0.002013,0.000770,0.000711,0.000178,0.000711,0.002783,0.002487,0.002132,...,0.005033,0.002605,0.002605,0.000414,0.042631,0.002842,0.000947,0.000000,0.076618,0.000000
2,1.000000,0.046871,0.003511,0.000554,0.000308,0.000246,0.000801,0.004558,0.002217,0.003141,...,0.003572,0.005543,0.001663,0.000123,0.049951,0.002833,0.000739,0.304570,0.115915,0.110803
3,0.000474,0.043231,0.002843,0.001303,0.002606,0.000355,0.001303,0.005211,0.001895,0.001777,...,0.002132,0.002369,0.000474,0.000000,0.049745,0.002014,0.000474,0.000000,0.073434,0.000000
4,0.001929,0.049103,0.001812,0.001052,1.000000,0.000351,0.000760,0.002689,0.001520,0.003157,...,0.004560,0.002514,0.001929,0.000409,0.050915,0.003215,0.000877,0.000175,0.079500,0.000000

* Top 4 products for each cluster

In [8]:
for cluster_id, row in cluster_analysis_product_type.iterrows():
    print(f"Cluster {cluster_id}:")
    top4 = row.nlargest(4)
    for product, mean_value in top4.items():
        print(f"  {product}: {mean_value:.2f}")
    print()

Cluster 0:
  Hot chocolate: 0.20
  Brewed Black tea: 0.19
  Brewed herbal tea: 0.19
  Organic brewed coffee: 0.15

Cluster 1:
  Gourmet brewed coffee: 1.00
  Scone: 0.08
  Biscotti: 0.05
  Pastry: 0.04

Cluster 2:
  Barista Espresso: 1.00
  Regular syrup: 0.30
  Scone: 0.12
  Sugar free syrup: 0.11

Cluster 3:
  Drip coffee: 1.00
  Scone: 0.07
  Pastry: 0.05
  Biscotti: 0.04

Cluster 4:
  Brewed Chai tea: 1.00
  Scone: 0.08
  Pastry: 0.05
  Biscotti: 0.05

* Dataframe with each transaction each time and agg quantity and total_amount

In [9]:
transactions = df.groupby('transaction_id').agg(
    total_quantity=('transaction_qty', 'sum'),
    total_total_amount=('total_amount', 'sum'),
    different_products=('product_type', 'nunique'),
).reset_index()

transactions.head()

   transaction_id  total_quantity  total_total_amount  different_products
0               0               2                 6.0                   1
1               1               2                 6.2                   1
2               2               2                 9.0                   1
3               3               1                 2.0                   1
4               4               3                 9.2                   2

* Add cluster

In [10]:
transactions = transactions.merge(
    transaction_products_type_binary[['cluster']],
    how='left',
    left_on='transaction_id',
    right_index=True
)

transactions.head()

,transaction_id,total_quantity,total_total_amount,different_products,cluster
0,0,2,6.0,1,1
1,1,2,6.2,1,4
2,2,2,9.0,1,0
3,3,1,2.0,1,3
4,4,3,9.2,2,4

In [11]:
transaction_products_type_binary['cluster'].value_counts()

cluster
0    58115
4    17107
1    16889
2    16236
3     8443
Name: count, dtype: int64

* Mean quantity and total_amount

In [12]:
cluster_means = transactions.groupby('cluster').agg(
    mean_quantity=('total_quantity', 'mean'),
    mean_total_amount=('total_total_amount', 'mean')
).reset_index()

print(cluster_means)

   cluster  mean_quantity  mean_total_amount
0        0       1.726043           5.925638
1        1       1.749896           5.309445
2        2       2.458795           7.786758
3        3       1.738482           4.906099
4        4       1.754136           5.665791

* Cluster 0: "Warm Beverage Mixers"
* Cluster 1: "Gourmet Coffee Lovers"
* Cluster 2: "Espresso Fans"
* Cluster 3: "Clasic Coffee Lovers"
* Cluster 4: "Chai Tea Enthusiasts"

# Association Rules

In [13]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (3.9.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

* Filter transcations with quantity >= 2

In [14]:
filtered_transaction_ids = transactions[transactions['different_products'] >= 2]['transaction_id']
filtered_transaction_products = transaction_products_type_binary.loc[
    transaction_products_type_binary.index.isin(filtered_transaction_ids)]

In [15]:
filtered_transaction_products_no_cluster = filtered_transaction_products.drop(columns=['cluster'])

In [16]:
filtered_transaction_products.head()

product_type,Barista Espresso,Biscotti,Black tea,Brewed Black tea,Brewed Chai tea,Brewed Green tea,Brewed herbal tea,Chai tea,Clothing,Drinking Chocolate,...,Organic Beans,Organic Chocolate,Organic brewed coffee,Pastry,Premium Beans,Premium brewed coffee,Regular syrup,Scone,Sugar free syrup,cluster
transaction_id,,,,,,,,,,,,,,,,,,,,,
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4
14,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
22,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
len(filtered_transaction_ids)

28973

In [18]:
len(filtered_transaction_products)

28973

In [19]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(filtered_transaction_products_no_cluster, min_support=0.04, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1, num_itemsets=2)

rules_sorted = rules.sort_values(by='confidence', ascending=False)
rules_sorted.head()

C:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1,(Regular syrup),(Barista Espresso),0.171332,0.311911,0.170676,0.996172,3.193771,1.0,0.117236,179.772282,0.828909,0.546047,0.994437,0.771684
3,(Sugar free syrup),(Barista Espresso),0.062472,0.311911,0.062092,0.993923,3.186558,1.0,0.042607,113.221903,0.731905,0.198828,0.991168,0.596497
0,(Barista Espresso),(Regular syrup),0.311911,0.171332,0.170676,0.547195,3.193771,1.0,0.117236,1.830077,0.998258,0.546047,0.453575,0.771684
6,(Gourmet brewed coffee),(Scone),0.115832,0.331861,0.044697,0.385876,1.162765,1.0,0.006257,1.087955,0.158320,0.110911,0.080844,0.260281
4,(Brewed Chai tea),(Scone),0.125220,0.331861,0.046940,0.374862,1.129577,1.0,0.005385,1.068787,0.131133,0.114449,0.064360,0.258154

In [20]:
rules_sorted = rules.sort_values(by='confidence', ascending=False)
rules_sorted.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1,(Regular syrup),(Barista Espresso),0.171332,0.311911,0.170676,0.996172,3.193771,1.0,0.117236,179.772282,0.828909,0.546047,0.994437,0.771684
3,(Sugar free syrup),(Barista Espresso),0.062472,0.311911,0.062092,0.993923,3.186558,1.0,0.042607,113.221903,0.731905,0.198828,0.991168,0.596497
0,(Barista Espresso),(Regular syrup),0.311911,0.171332,0.170676,0.547195,3.193771,1.0,0.117236,1.830077,0.998258,0.546047,0.453575,0.771684
6,(Gourmet brewed coffee),(Scone),0.115832,0.331861,0.044697,0.385876,1.162765,1.0,0.006257,1.087955,0.158320,0.110911,0.080844,0.260281
4,(Brewed Chai tea),(Scone),0.125220,0.331861,0.046940,0.374862,1.129577,1.0,0.005385,1.068787,0.131133,0.114449,0.064360,0.258154